[Unit]
Description=Raspberry Pi MusicBox motion detector

[Service]
TimeoutStartSec=0
Restart=always
StartLimitBurst=0
StartLimitIntervalSec=60
ExecStart=/usr/local/bin/musicbox-motion-detector

[Install]
WantedBy=multi-user.target
